{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3">Articles publiés par {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
{% for post in posts %}
<div class="row mb-5">
    <div class="col-md-3">
        <img src="{{post.author.profile.image.url}}" class="rounded-circle account-img" alt="">
    </div>
    <div class="col post-content">
        <p>Par <a class="author-link" href="{% url 'user-posts' post.author.username %}">{{post.author}}</a> le <small
                class="text-muted">{{post.date_posted | date:"d M Y"}}</small></p>
        <a href="{% url 'post-detail' post.id  %}" class="post-title">
            <h3 class="card-title">{{post.title}}</h3>
        </a>
        <p>{{post.content}}</p>
    </div>
</div>
{% endfor %}

{% if is_paginated %}
<div class="text-center">

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-secondary mb-4" href="?page=1">Première</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.previous_page_number}}">Précédent</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-secondary mb-4" href="?page={{num}}">{{num}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{num}}">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.next_page_number}}">Suivant</a>
    <a class="btn btn-outline-secondary mb-4" href="?page={{page_obj.paginator.num_pages}}">Dernière</a>
    {% endif %}

</div>
{% endif %}
{% endblock content %}